.header,
.menu,
.about,
.client,
.footer,
.services-hero,
.fill.dark .fill__wr,
.fill__btn,
.services-serv,
.services-wr,
.news-page {
  background-color: #fff;
}

.menu,
.section__title,
.about__body_content,
.client__body_slider_slide,
.footer,
.footer__top_title,
.about__body_content_head,
.header__item a,
.services-hero__in,
.fill__btn_text,
.services-serv,
.services-wr,
.news-page .promo,
.arrow-link__text {
  color: #2b2a28;
}

.about__body_content_link_icon,
.footer__top_link_icon,
.fill__btn_icon img,
.services-wr__body_brands_item,
.arrow-link__icon,
.menu__part_item_arrow {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.about__body_content_item_icon,
.services-serv__body_item_cr {
  border: 2px solid #2b2a28;
}

.header__burger span {
  background-color: #2b2a28;
}

.fill.dark .fill__btn {
  border: 1px solid #2b2a28;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  height: 100px;
  width: auto;
}

.header__in {
  padding: 5px 0;
}

.menu {
  padding-top: 140px;
}

.main {
  padding-top: 85px;
}

.hero__slider_pag_el_item.active {
  background-color: #2b2a28;
}

.hero__slider_sl_content_body {
  margin-top: 60px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .header__logo img {
    height: 85px;
  }
  .header__list {
    margin-top: 5px;
    padding: 8px 0;
    border-top: 1px solid #d9d9d9;
  }
  .footer__top_title {
    border-bottom: 1px solid #d9d9d9;
  }
  .about {
    padding-top: 30px;
    margin-top: -30px;
  }
  .hero__slider_sl {
    height: 100%;
  }
  .hero__slider_sl_content_body {
    max-width: 100%;
  }
  .hero__slider_sl_img {
    position: relative;
  }
  .hero__slider_sl_img {
    max-height: 270px;
  }
  .hero__slider_pag {
    top: 250px;
    bottom: auto;
  }
  .hero__slider_sl {
    height: 100%;
  }
  .hero__slider_sl_content_body {
    background: rgb(255, 255, 255);
    color: #2b2a28;
  }
  .hero__slider_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__slider_nav-next,
  .hero__slider_nav-prev {
    top: auto;
    bottom: 68px;
  }
  .promo__in {
    padding: 20px 0;
  }
  .hero__slider_nav-prev {
    left: auto;
    right: 85px;
  }
  .hero__slider_nav {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1803921569);
  }
  .hero__slider_sl_content_link {
    width: 50%;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  .hero__slider_sl_content {
    padding-bottom: 10px;
  }
  .hero__slider_sl_content_body {
    padding: 20px 25px 60px;
  }
  .header__item a {
    font-size: 14px;
  }
  .about__in {
    padding-top: 0px;
  }
  .about__body_content_head {
    text-align: center;
  }
  .footer {
    font-size: 16px;
  }
  .hero__slider_sl_content_body {
    margin-top: 5px;
  }
  .footer__mid_main {
    padding: 10px 0;
  }
  .main {
    padding-top: 125px;
  }
  .about__body_content_item_icon {
    margin: 5px auto;
  }
  .about__body_content_item_descr {
    text-align: center;
  }
}
@media (max-width: 360px) {
  .header__logo img {
    height: 60px;
  }
}
body.customize-support {
  height: auto;
}

body.customize-support .header {
  top: 32px;
}

@media (max-width: 768px) {
  body.customize-support .menu {
    padding-top: 160px;
  }
}
@media (max-width: 600px) {
  #wpadminbar {
    position: fixed !important;
  }
}
.menu__part_submenu {
  height: 100%;
  overflow: initial;
}